
<style>
    * {box-sizing: border-box;}
    #input-container {
        display: flex;
        padding-top: 1em;
        gap: 0.5em;
    }
    .input-field {
        flex: 1 1 0;
        position: relative;
    }
    .field-label {
        position: absolute;
        bottom: 100%;
        font-size: small;
    }
    .input-field > input,
    .input-field > select {
        width: 100%;
        min-width: 0;
    }
    #frequency-field {
        flex: 1.5 1 0;
    }
    /* These styles could be used to insert a currency marker
    #cost-field {
        margin-left: 1em;
    }
    #cost-field::before {
        position:absolute;
        right: 100%;
        padding-right: 2px;
        content: '$'; <-- Could be a css custom prop...
    } */
    input:required:invalid  {
        border: 1px solid red;
    }
</style>

<div id="input-container">
    <div class="input-field">
        <label for="key" class="field-label">Name</label>
        <input id="key" name="key" type="text" required>
    </div>
    <div id="frequency-field" class="input-field">
        <label for="frequency" class="field-label">Frequency</label>
        <select name="frequency" id="frequency">
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="yearly">Yearly</option>
        </select>
    </div>
    <div id="cost-field" class="input-field">
        <label for="value" class="field-label">Cost</label>
        <input type="number" name="value" id="value" step="0.01" required>
    </div>
    <button id="field-delete" part="field-delete">x</button>
</div>