/* General Page Styling*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: no-repeat center center fixed;
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-weight: 300;
    color:#072fc2;
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
    float: none;
}

/* input dialog */

#input-modal::part(modal-dialog) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
#input-modal::part(modal-header) {
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
}
#input-modal::part(modal-footer) {
    margin-top: 0.5em;
    border-top: 1px solid black;
}

#input-modal::part(modal-dialog) {
    max-width: 900px;
    width: 50%;
    height: 50%;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

money-input {
    margin-top: 0.5em;
}

/* Header*/
#header {
    position: sticky;
    width: 100%;
    height: 75px;
    top: 20px;
    margin: 0 auto;

    /* background-color: white; */
    z-index: 2;
    font-size: x-large;
    text-align: center;
}

#header img {
    float: left;
    width: 200px;   
    height: 200px;
    margin-left: 10px;
    margin-top: -50px;
}

/* Hero Section */
#hero-section {
    margin-top: 75px;
    margin-left: 20%;
    max-width: 100%;
    height: 50vh;
}

#hero-image {
    background-image: url("../images/moneypig-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    max-width: 95%;
}

/* Button layout */
#button-section {
    margin: 20px 0;
    width: 100%;
}

.button-container {
    margin: 0 auto;
    width: 90%;
    height: 150px;
    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: #ffd7cd;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 5px 15px;
}


.btn:hover {
    cursor: pointer;
    box-shadow: 3px 7px 16px 5px rgba(252, 252, 252, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.icon-image {
    margin-top: 2px;
    font-size: 3rem;
}


.icon-title {
    font-size: 1.1rem;
}

.icon-entertainment {
    font-size: 0.8rem;
}





/* Media Query */
/* responsive styling for under 992px */
@media (min-width: 993px) {

}


/* responsive styling for under 992px */
@media (max-width: 992px) {
    #hero-section {
        height: 75vh;
    }

    #header img {
        width: 250px;
        height: 250px;
    }

    #input-modal::part(modal-dialog) {
        width: 75%;
    }

}

/* responsive styling for under 768px */
@media (max-width: 768px) {
    #hero-section {
        height: 50vh;
    }

    #header img {
        width: 150px;
        height: 150px;
    }


    .btn {
        padding: 10px;
        height: 100px;
        width: 100px;
    }

    .icon-image {
        font-size: 1.6rem;
    }

    .icon-title {
        font-size: 0.8rem
    }

    .icon-entertainment {
        font-size: 0.6rem;
    }
    

    #input-modal::part(modal-dialog) {
        width: 85%;
        height: 75%;
    }

}

/* responsive styling for under 481px */
@media (max-width: 481px) {
    #hero-section {
        height: 30vh;
    }

    #input-modal::part(modal-dialog) {
        width: 100%;
        height: 100%;
    }
}